<div class="d-flex flex-column ui">

  <header class="d-flex justify-content-between">
    <span (click)="toggle()">
      <ng-content *ngIf="close" select=".tr-open"></ng-content>
      <ng-content *ngIf="!close" select=".tr-close"></ng-content>
    </span>
    <ng-content select=".tr-header"></ng-content>
  </header>

  <main class="d-flex flex-grow-1">
    <aside>
      <nav [ngClass]="{'close-aside': close}">
        <ng-content select=".tr-nav"></ng-content>
      </nav>
    </aside>

    <div class="d-flex flex-column flex-grow-1">
      <div class="flex-grow-1 content">
        <ng-content select=".tr-content"></ng-content>
      </div>
    </div>
  </main>

</div>
